@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.dark{
    --color-bg1: rgb(32,32,32);
    --color-bg2: rgb(0, 0, 0);
    --color-text1: rgb(255, 255, 255);
    --color-text2: #e6ab46c9;
    --color-text3: rgb(143, 143, 143);
    --color-text4: rgb(158, 158, 158);
    --color-summary: rgba(72, 72, 255, 0.303);
}
.light{
    --color-bg1: rgba(169, 169, 169, 0.638);
    --color-bg2: white;
    --color-text1: black;
    --color-text2: #e6ab46c9;
    --color-text3: rgb(100, 100, 100);
    --color-text4: rgb(75, 75, 75);
    --color-summary:  rgba(72, 72, 255, 0.789);
}

.red{
    --color-bg1: rgba(90, 4, 4, 0.823) ;
    --color-bg2: rgb(28, 0, 0);
    --color-text1: rgb(255, 255, 255);
    --color-text2: #e6ab46c9;
    --color-text3: rgb(237, 80, 80);
    --color-text4: rgb(58, 0, 0);
    --color-summary:  rgba(181, 45, 45, 0.857);
}

.dark .hourly img{
    filter: brightness(150%)
}
.dark .longTerm img{
    filter: brightness(150%)
}

.red .hourly img{
    filter: brightness(150%)
}
.red .longTerm img{
    filter: brightness(150%)
}

*{
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    transition: color 0.25s ease-in;
}



body{
    background-color: var(--color-bg2);
    color: var(--color-text1);
    /*margin-left: 3vw;*/
}
.location h1{
    color:var(--color-text1);
    /*font-size: 30px;*/
}

/*
.location div{
    text-align: center;
}*/

.summary{
    background-color: var(--color-summary);
    transition: background-color 0.25s ease-in;
    /*border-radius: 30px;
    height:16vh;
    padding-bottom: 1vh;*/
}

.summary div1{
    position:absolute;
    margin-left: 84vw;
    margin-top:12%;
}
.summary h4{
    font-size: 30px;
    color:var(--color-text4)
}

.summary img{
    height: 10%;
    position:absolute;
    margin-left: 0vh;

}

.summary h1{
    font-size: 150px;
    float: right;
    margin-right: 10vw;
    margin-top: 1vh;
}

.summary h3{
    margin-top:8vh;
    position: absolute;
    font-size: 2vh;
    margin-left: 3vw;
}

/*
.summary #feelsLike{
    text-align: center;
    margin-top:11vh;
    position: absolute;
    width: 100%;
}*/

.summary h2{
    text-align: left;
    font-size: 60px;
    margin-left: 3vw;
}

.summary span{
    float:right;
    margin-right: 10vw;
}

/*.wind{
    margin-top: 1vh;
}*/

.wind #wind{
    /*width: 100%;
    height: 6vh;*/
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
    /*border-radius: 30px;
    display: flex;
    align-items: center;*/
}

.wind div2{
    float: left;
    width: 30%;
    text-align: center;
}

.wind h1{
    font-size: 100vh;
    text-align: center;
}

.wind h2{
    font-size: 300%;
    text-align: center;
}
 /*
.wind img{
    height:auto;
    width: auto;
    width: 10%;
    margin-left: 1.5vw;
}*/

.wind #windDirectionImage{
    width: 35%;

}
.wind span{
    font-size: 50%;
}

/*
.hourly #hourly{
    overflow-x: scroll;
    white-space: nowrap;    
    scroll-snap-type: x mandatory;
}*/
/*
.hourly div{
    margin-top:1vh;
}*/

.hourly div1{
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
    display:inline-block;
    border-radius: 30px;
    margin-right: 1vw;
    padding-bottom: 1vh;
    scroll-snap-align: start;

}

.hourly img{
    height:7vh;
}
.hourly h1{
    text-align: center;
    font-size: 1.75vh;
}

.hourly h2{
    text-align: center;
    font-size: 1.75vh;
    margin-top: -1vh;
}

.hourly h3{
    text-align: center;
    font-size: 1.75vh;
    margin-bottom: -1.5vh;
    margin-top: 0.5vh;
}
.hour{
    
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
    /*height: 440px;
    margin-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;;
    padding-top: 1vh;
    border-radius: 30px;*/
}


.bottomNav{
    background-color: var(--color-bg2);
    transition: all 0.25s ease-in !important;
    transition-duration: 0.25s;
    /*position: fixed;
    bottom: 0;
    width: 100%;
    height: 7%;*/
    border-top: 1vh var(--color-bg2) solid;
}



.bottomNav div{
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
    /*margin-left: -3vw;*/
}

.bottomNav a{
    /*width: 49%;
    float: left;
    text-align: center;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding-bottom: 2%;*/
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
}
 /*
.bottomNav #home{
    margin-right: 1%;
    float: left;

}

.bottomNav #sail{
    margin-left: 1%;
    float: right;
}

.bottomNav img{
    margin-top: 3%; 
    width: 20%;
}*/


/*
.longTerm{
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

.longTerm div{
    margin-top:1vh;

}*/

.longTerm div2{
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
    display:inline-block;
    border-radius: 30px;
    margin-right: 1vw;
    padding-bottom: 1vh;
    width: 48vw;
    margin-bottom: 1vh;
    scroll-snap-align: start;


}

.longTerm img{
    height:10vh;
}
.longTerm h1{
    margin-top: 10%;
    font-size: 1.75vh;
    text-align: center;
}

.longTerm h2{
    text-align: center;
    font-size: 1.75vh;
    
}
.longTerm h3{
    float: right;
    font-size: 300%;
    margin-top: 5%;
    margin-right: 5%;
}

.longTerm span{
    font-size: 200%;
    margin-right: -2vw;
}


/*
.sun{
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}
*/

.sun div{
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
    margin-left: 3vw;
    border-radius: 30px;
    text-align: center;
    display: inline-block;
    margin-bottom: 9vh;
    width: 97vw;
    scroll-snap-align: start;

}



.sun #img{
    width: 50%;
}

.sun #data{
    width: 50%;
}

.sun h1{
    font-size: 400%;
    margin-top: -15%;
}

.sun h2{
    font-size: 500%;
}

.sun img{
    width: 50%;
}




#windGuru{   
    margin-top: 3vh !important;
    margin-right: 3vw !important;
}


iframe{
    border-radius: 30px;
    height: 100%;
    margin-left: 3vw;
    margin-right: 3vw;
}

/*
.tides{
    margin-top: 1vh;
    text-align: center;
    border-radius: 30px;   
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    margin-left: 4.5vw;
}*/

#tideTable{
    width:100%;
    padding: 1vh 1vw 1vh 1vw;
    height: 100%;

}


li::marker{
    font-size:0px;
}

.tides thead{
    height: 100%;
}
.tides td{
    padding-left: 3vw;
    height: 100%;
}

.tides li{
    padding-top: 10%;
    font-size: 250%;
}
.tides tr{
    overflow-x: scroll;
    height: 100%;
}
.lowTide {
    color: var(--color-text3);
}

.tides caption{
    display: none;
}

.tides th{
    color: var(--color-text2);
    font-size: 300%;;
}

.tides ul{
    width: 44vw;
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
    border-radius: 30px;
    margin-right: 3vw;
    padding-bottom: 1vh;
    scroll-snap-align: start;
    height: 100%;
}

/*
.waves{
    margin-top: 1vh;
    padding-right: 3vw;
    margin-bottom: 8%;
    font-size: 100%;
    height: 20vh;
}

.waves #wavesTitle{
    text-align: center;
    width: 100%;
    font-size: 3vh;
    margin-bottom: 1vh;
}
.waves div{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}*/

.waves div1{
    width: 100%;
    background-color: var(--color-bg1);
    transition: background-color 0.25s ease-in;
    border-radius: 30px;
    margin-right: 1vw;
    text-align: center;
    scroll-snap-align: start;

}

.waves h1{
    width: 27.3vw;
}
 /*
.waves div2{
    position: fixed;
    width: 15%;
    text-align: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 1vw;
}*/


.waves #date{
    color: var(--color-text2);
}

